/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* base */

html {
    font-size: 62.5%;
}

body {
    color:#000;
}

.img {
    width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
}

a::after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: .5s all;
    width: 0; 
}

a:hover::after {
    width: 100%;
}


/* header */

.header {
    color: #fff;
    font-weight: bold;
}

.fv {
    background-image: url("https://github.com/KenjiNavi/WEB-DESIGN-SPECIALIST/blob/main/hero.jpg?raw=true");
    background-position: center;
    height: 80vh;
    position: relative;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /* position: fixed; */
}

.header-logo-text {
    font-size: 1.6rem;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.header-item {
    list-style: none;
    margin-right: 14px;
}

.fv-area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}

.fv-title {
    font-size: 5rem;
    margin-bottom: 20px;
}

.br-sp {
    display: none;
}

.fv-subtitle {
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.fv-contact-p {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 16px 40px;
    display: inline-block;
    cursor: pointer;
}

.burger-btn{
	display: none;
}    


/* NEWS */

#news-wrapper {
    padding: 0 10%;
    display: flex;
    /* justify-content: space-between; */
    align-items: top;
    margin-top: 70px;
}

.section-title-area {
    margin-right: 50px;
    /* align-items: top; */
}

.section-title {
    font-size: 3.6rem;
    font-weight: bold;
    color: #391E88;
    font-family: Montserrat;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.4rem;
    color: #391E88;
    font-family: sans-serif;
    font-weight: bold;
}

.news-list {
    list-style: none;
}

.news-item {
    font-size: 1.5rem;
    font-family: Montserrat;
    color:#333333;
    margin-bottom: 18px;
    line-height: 2;

}

.category {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    padding: 4px 16px;
    width: 82px;
}


.news-text {
    margin-left: 20px;
}

.br-sp {
    display: none;
}


/* service */


#service-wrapper {
    margin: 140px 10%;
}

.section-title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item {
    margin-right: 30px;
    list-style: none;
}

.service-item-image {
    max-width: 350px;
}

.service-item-img {
    max-width: 100%;
}

.service-item-textarea {
    margin-top: 24px;
}

.service-item-name {
   font-size: 1.8rem;
   font-weight: bold; 
   margin-bottom: 20px;
   text-align: center;
}

.service-item-text {
    font-size: 1.5rem;
    line-height: 1.8;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Montserrat;
    color: #fff;
    background-color: #7633A4;
    padding: 21px 75.2px 21px 78.8px;
    border-radius: 50px;  
    margin-top: 30px;
    cursor: pointer;
}


/* works */

#works-wrapper {
    padding: 0 10%;
    display: flex;
    position: relative;
    margin-top: 140px;
}

.works-image {
    max-width: 750px;
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(14%) translateX(0);
    -webkit- transform: translateY(14%) translateX(0);
    z-index: 2;
}

.works-img {
    max-width: 100%;
}



.works-text-wrapper {
    background-color: #F0F0F0;
    width: 60%;
    height: 651px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0) translateX(60%);
    -webkit- transform: translateY(50%) translateX(-50%);
    z-index: 1;
    display: table;
}

.works-textarea-blank {
    width: 50%;
    color: #F0F0F0;
}

.works-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.works-text {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 1.8;
    color: #333333;
}


/* company */

#company-wrapper {
    margin-top: 800px;
    padding: 0 5%;
}

.company-background-image {
    background-image: url("../WEB DESIGN SPECIALIST/coding-tutorial/img/bg-circle.png");
    /* background-image: url("../WEB DESIGN SPECIALIST/coding-tutorial/img/bg-face.png"); */
    background-position: center;
    position: relative;
    
}

.company-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
  
}

.company-mainphrase {
    margin-top: 40px;
    font-size: 4rem;
    border-bottom: 12px solid #F5F534;
}

.company-text {
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
}

.company-circle-image {
    position: absolute;
    top: 20%;
    left: 0;
}


/* recruit */

#recruit-wrapper {
    padding: 100px 10%;
    display: flex;
    
}

.recruit-text-wrapper {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F7F7;
    /* height: 340px; */
}

.recruit-text {
    font-size: 1.5rem;
    margin-top: 30px;
}


.recruit-image {
    max-width: 665px;
    /* height: 340px; */
    flex-basis: 65%;
}

.recruit-img {
    max-width: 100%;
}


/* contact */

#contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F7F7;
    padding-bottom: 79px;
}

#contact-title {
    margin-top: 80px;
    font-size: 3.4rem;
    margin-bottom: 5px;
}

.contact-text {
    font-size: 1.5rem;
    margin-top: 35px;
}



/* footer */

.footer {
    background-color: #120E19;
    height: 173px;

}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.footer-list {
    display: flex;
}

.footer-item {
    margin-right: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 0.06em;
}

small {
    color: #A798B7;
    margin-top: 22px;
    font-size: 1rem;
    font-family: Montserrat;
}

.footer-menu-sp {
    display: none;
}










@media screen and (max-width:768px) {
   

/* ハンバーガーメニュー */

.burger-btn{
	display: block;
	width: 39px;
	height: 39px;
	position: relative;
	z-index: 3;
/*   codepenの挙動のため */
    background-color:transparent;
    border:none;
    
  }
  .bar{
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
  }
  .bar_top{
	top: 10px;
  }
  .bar_mid{
	top: 50%;
	transform: translate(-50%,-50%);
  }
  .bar_bottom{
	bottom: 10px;
  }
  .burger-btn.close .bar_top{
	transform: translate(-50%,10px) rotate(45deg);
	transition: transform .3s;
  }
  .burger-btn.close .bar_mid{
	opacity: 0;
	transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom{
	transform: translate(-50%,-8px) rotate(-45deg);
	transition: transform .3s;
  }
  .nav-wrapper{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
   }
   .header-section{
    width: 100%;
    height: 100%;
    /* background-color:#642390;
    background: linear-gradient(#642390,#7633A4); */
    /* 下に向かって色が濃くなる方法? */
    background: -moz-linear-gradient(bottom, #642390 50%, #fff);
    background: -webkit-linear-gradient(bottom, #642390 50%, #7633A4);
    background: linear-gradient(to top, #642390 50%, #fff);
    z-index: 2;
  }
  .header-section .header-list{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    }
    .header-section .header-item{
    margin-right: 0;
    margin-bottom: 40px;
    }

    .fv {
        background-image: url("https://github.com/KenjiNavi/WEB-DESIGN-SPECIALIST/blob/main/hero.jpg?raw=true");
        background-position: center;
        height: 100vh;
    
    }

    .fv-area {
        top: 30%;
        left: 64%;
        text-align: left;
    }
    
    .fv-title {
        font-size: 4.8rem;
        line-height: 1.4;
    }

    .fv-subtitle {
        font-size: 1.6rem;
        line-height: 1.8;
    }

    .br-sp {
        display: block;
    }

    .fv-contact-p {
        width: 140px;
        height: 30px;
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* news */

    #news-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    .section-title-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .br-sp {
        display: block;
    }

    .news-list-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-list {
        display: flex;
        flex-direction: column;
    }

    .news-item {
        text-align: left;
    }

    .news-text {
        margin-left: 0;
    }


/* service */

    #service-wrapper {
        margin: 140px 2%;
    }

    #service-section-title-area {
        margin-right: 0;
    }

    .service-list-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-list {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .service-item {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    .service-item-image {
        max-width: 700px;
        /* xdだとWidth:３５５pxだがなぜかうまくいかない */
    }

    .service-item-img {
        max-width: 100%;
    }

    .service-item-text {
        margin-bottom: 40px;
    }

    .more {
        display: none;
    }

    #service-more {
        display: none;
    }



    /* works */

    #works-wrapper {
        /* position: static; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5%;
        /* padding-top: 80px; */
    }

    .works-image {
        max-width: 700px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%) translateX(0);
        -webkit- transform: translateY(14%) translateX(0);
        z-index: 2;
        margin-top: 80px;
    } 
    
    .works-img {
        max-width: 100%;
    }

    .works-text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-25%) translateX(0);
        -webkit- transform: translateY(0) translateX(0);
        width: 100%;
        height: 430px;
    }

    .works-textarea-blank {
        display: none;
        width: 0%;
    }

    .works-textarea {
        display: flex;
        justify-content: center;
        align-items: bottom;
        padding-top: 300px;
    }

    #works-title {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    #works-section-subtitle {
        font-size: 1.3rem;
        
    }

    .works-text {
        font-size: 1.4rem;
    }

    .more {
        display: block;
        margin-bottom: 60px;
    }


    /* company  */


    #company-wrapper {
        height: 590px;
        margin-top: 500px;
    }

    .company-background-image {
        height: 590px;
    }

    .company-textarea {
        padding-top: 60px;
    }

    #company-title {
        font-size: 3rem;
    }

    #company-subtitle {
        font-size: 1.3rem;
    }

    .company-mainphrase-span {
        border-bottom: 12px solid #F5F534;
    }

    .company-circle-image {
        display: none;
    }

    .company-mainphrase {
        font-size: 3.2rem;
        font-family: sans-serif;
        line-height: 1.5;
    }

    .company-text {
        margin-top: 43px;
        font-size: 1.4rem;
    }



    /* recruit */

    #recruit-wrapper {
        padding: 40px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* height: 300px; */
    }

    .recruit-image {
        max-width: 100%;
        height: 140px;
    }

    .recruit-img {
        max-width: 100%;
    }

    .recruit-text-wrapper {
        width: 100%;
        flex-basis: 100%;
        /* padding-top: 60px; */

    }

    #recruit-title {
        margin-top: 60px;
        margin-bottom: 6px;
    }

    #recruit-subtitle {
        font-size: 1.3rem;
    }
    
    .recruit-text {
        font-size: 1.4rem;
        margin-top: 30px;
    }


    /* contact */

    #contact-wrapper {
        padding-bottom: 0;
    }

    #contact-title {
        font-size: 3rem;
    }

    #contact-subtitle {
        font-size: 1.3rem;
    }

    .contact-text {
        font-size: 1.4rem;
        line-height: 1.8;
    }


    /* contactの[more]ボタン幅が大きくなってしまう */

    /* #contact-more {
        width: 200px;
    }

    #contact-more-btn {
        width: 200px;
    } */



/* footer */

.footer {
    height: 183px;
}

.footer-menu-sp {
    display: block;
} 

.footer-menu {
    display: none;
}

.footer-list-sp {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.footer-upmenu {
    display: flex;
    /* justify-content: space-between; */
    /* width: 80%; */
}

.footer-downmenu {
    display: flex;
    margin-top: 20px;
}

.footer-item {
    margin-right: 20px;
    font-size: 1.2rem;
}

small {
    margin-top: 40px;
}




}
